@model SelectList

@{
    ViewBag.Title = "List Images By Tag";
}

<h2>@ViewBag.Title</h2>

@{ Html.BeginForm("DoListByTag", "Images", FormMethod.Post); }

<fieldset>
    <legend>Choose a tag</legend>
    @Html.AntiForgeryToken()
    <p>
        Tag: @Html.DropDownList("Id", Model)
    </p>
    <p>
        <input type="submit" value="List" />
    </p>
</fieldset>

@ViewBag.Message

@{ Html.EndForm(); }