
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


@{
    Html.BeginForm("DoLogin", "Account", FormMethod.Get);
}

<fieldset>
    <legend> Enter Your UserId </legend>
    <p>
        UserId:
        @Html.TextBox("Userid")
    </p>
    <input type="submit" value="Login" />

</fieldset>
@{
    Html.EndForm();
}

@ViewBag.Message

